{% extends "home.html" %}
{% block body %}
<section class="text-center masthead">
    <!-- Load script and add some css for map picker -->
    <!-- <script src="https://unpkg.com/location-picker/dist/location-picker.min.js"></script> -->
    <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC35jBVPFgwUoXf90cLVIU--lg7gW6HyTU&libraries=places&callback=initMap"
        async defer></script>
    <style type="text/css">
        #map {
            width: 100%;
            height: 480px;
        }
    </style>
    <h1>Create Event</h1>
    <div class="container">
        <!-- Event creation form -->
        <form method="post">{% csrf_token %}
            <div class="form-group text-left">

                <label for="title">Title</label>
                <textarea name="title" cols="40" rows="1" required="" id="id_title"
                    class="form-control">{{form.title.value|default:""}}</textarea>
                <label for="description">Description</label>
                <textarea name="description" cols="40" rows="2" required="" id="id_description"
                    class="form-control">{{form.description.value|default:""}}</textarea>
                <br>
                <div class="text-center">
                    <label for="date">Date of Event</label>
                    <input type="date" name="date" value="{{form.date.value|date:'Y-m-d'}}">
                    <label for="time">Time of Event</label>
                    <input type="time" name="time" value="{{form.time.value|date:'H:i'}}">
                    <br>
                </div>
                <!-- <label for="location">Location</label> -->


                <!-- Displays the current coordinates -->
                <!-- <p><span id="onIdlePositionView"></span></p> -->
                <!-- Displays the closest address of the current position -->
                <!-- <p><span id="onClickParseView"></span></p> -->
                <!-- Hidden field that assigns the current position to the location of the event object -->
                <p>Chosen address: <textarea class="form-control" name=location cols='40' rows='2' required=""
                        id="addressTextInput" onChange="initMap()">{{form.location.value|default:""}}</textarea>
                </p>
                <p hidden> address: <textarea class="form-control" name=location cols='40' rows='2' required=""
                    id="addressSetValue">{{form.location.value|default:""}}</textarea>
            </p>

                <script>
                    var map;
                    var service;
                    var infowindow;
                    var addressTextInput = document.getElementById('addressTextInput')

                    function initMap() {

                        var request = {
                            query: document.getElementById('addressTextInput').value,
                            fields: ['name', 'geometry', 'formatted_address'],
                        };

                        var sydney = new google.maps.LatLng(-33.867, 151.195);

                        infowindow = new google.maps.InfoWindow();

                        map = new google.maps.Map(
                            document.getElementById('map'), { center: sydney, zoom: 15 });



                        service = new google.maps.places.PlacesService(map);

                        service.findPlaceFromQuery(request, function (results, status) {
                            if (status === google.maps.places.PlacesServiceStatus.OK) {
                                for (var i = 0; i < results.length; i++) { createMarker(results[i]); }
                                map.setCenter(results[0].geometry.location);
                                addressTextInput.innerHTML = results[0].formatted_address
                                addressSetValue.innerHTML = results[0].formatted_address
                            }
                            console.log(request)
                        });
                    } function createMarker(place) {
                        var marker = new
                            google.maps.Marker({ map: map, position: place.geometry.location });
                        google.maps.event.addListener(marker, 'click', function () {
                            infowindow.setContent(place.name);
                            infowindow.open(map, this);
                        });
                    }

                </script>

                <div id="map"></div>
                <br> <br>
                <input type="submit" value="Create Event" class="form-control">
            </div>
        </form>
    </div>
</section>

{% endblock %}