{% extends "home.html" %}
{% block body %}
<section class="masthead">
    <!-- Load map picker and add some css for it -->
    <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC35jBVPFgwUoXf90cLVIU--lg7gW6HyTU&libraries=places&callback=initMap"
        async defer></script>
    <style type="text/css">
        #map {
            width: 100%;
            height: 480px;
        }
    </style>
    <!-- Displays each field from Event -->
    <div class="container">
        <ul class="list-unstyled">
        <h3>{{ object.title }}</h3>
        <h6 class="text-muted">{{ object.date }} at {{ object.time }}</h6>
    </ul>
        <p class="col-sm-9 no-gutters">{{ object.description }}</p>
        <p class="col-sm-9"><span name=location cols='40' rows='10' required="" id="addressTextInput">{{object.location}}</span></p>
        <ul class="list-inline px-lg-3">
            <li class="list-inline-item text-muted">Hosted by {{ object.creator }}      </li>
            <li class="list-inline-item text-muted">{{ object.attendees.all|length }} attendee(s)      </li>
        </ul>
        <br>
        <!-- Allows creator to edit, delete, and see attendees -->
        {% if object.creator == user %}
        <a href="/event/update/{{event.id}}" class="btn btn-primary">Edit</a>
        <a href='/event/attendees/{{event.id}}' class="btn btn-outline-secondary">View Attendees</a>
        <a href="/event/delete/{{event.id}}" class="btn btn-outline-secondary">Delete</a>
        {% else %}
        <!-- Adds current user to the list of attendees -->

        {% if user.is_authenticated %}
        <!-- If current user is already on list of attendees creates disabled button -->
        {% if user in object.attendees.all %}
        <a class="btn btn-outline-secondary disabled">Already Attending</a>
        {% else %}
        <form action="/event/addattendees/{{event.id}}" method="POST"> {% csrf_token %}
            <input type="submit" class="btn btn-primary" value="I'm going!" />
        </form>
        {% endif %}
        {% endif %}
        {% endif %}
        <br>
        <br>
        <a href="/event/view" class="btn btn-secondary">Back to all Events</a>
        <br> <br>
    <script>
        var map;
        var service;
        var infowindow;
        var addressTextInput = document.getElementById('addressTextInput')

        function initMap() {
            
            console.log(document.getElementById('addressTextInput').innerHTML)
            var request = {
                query: document.getElementById('addressTextInput').innerHTML,
                fields: ['name', 'geometry'],
            };

            var sydney = new google.maps.LatLng(-33.867, 151.195);

            infowindow = new google.maps.InfoWindow();

            map = new google.maps.Map(
                document.getElementById('map'), { center: sydney, zoom: 15 });



            service = new google.maps.places.PlacesService(map);

            service.findPlaceFromQuery(request, function (results, status) {
                if (status === google.maps.places.PlacesServiceStatus.OK) {
                    for (var i = 0; i < results.length; i++) { createMarker(results[i]); }
                    map.setCenter(results[0].geometry.location);
                }
            });
        } function createMarker(place) {
            var marker = new
                google.maps.Marker({ map: map, position: place.geometry.location });
            google.maps.event.addListener(marker, 'click', function () {
                infowindow.setContent(place.name);
                infowindow.open(map, this);
            });
        }

    </script>

    <div id="map"></div>
    
        <!-- <br>
        <div id="map"></div>
        <script>
            // Get element references
            var parsed = JSON.parse('{{object.location|safe}}')
            var onClickPositionView = document.getElementById('onClickPositionView');
            var onIdlePositionView = document.getElementById('onIdlePositionView');
            var onClickAddressView = document.getElementById('onClickAddressView')
            var onClickParseView = document.getElementById('onClickParseView')
            // set to readable address view
            if (parsed.address.placename === '') {
                onClickParseView.innerHTML = `${parsed.address.streetNumber} ${parsed.address.street} <br>${parsed.address.adminName2} County, ${parsed.address.adminName1}, ${parsed.address.postalcode}`
            } else {
                onClickParseView.innerHTML = `${parsed.address.streetNumber} ${parsed.address.street} <br>${parsed.address.placename}, ${parsed.address.adminName1}, ${parsed.address.postalcode}`
            }
            // Initialize locationPicker plugin and set location 
            var lp = new locationPicker('map', { setCurrentPosition: true, lat: parsed.address.lat, lng: parsed.address.lng }, { zoom: 15 });
        </script> -->
    </div>
</section>
{% endblock %}