{% extends "home.html" %}
{% block body %}
<section class="text-center masthead">
    <script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC35jBVPFgwUoXf90cLVIU--lg7gW6HyTU"></script>
    <script src="https://unpkg.com/location-picker/dist/location-picker.min.js"></script>
    <style type="text/css">
        #map {
            width: 100%;
            height: 480px;
        }
    </style>
    <h1>Create Event</h1>
    <div class="container">
        <form method="post">{% csrf_token %}
            <div class="form-group">

                <label for="title">Title</label>
                <textarea name="title" cols="40" rows="10" required="" id="id_title"
                    class="form-control">{{form.title.value|default:""}}</textarea>
                <label for="description">Description</label>
                <textarea name="description" cols="40" rows="10" required="" id="id_description"
                    class="form-control">{{form.description.value|default:""}}</textarea>
                <label for="location">Location</label>
                <!-- <textarea name="location" cols="40" rows="10" required="" id="id_title"
                    class="form-control">{{form.location.value|default:""}}</textarea> -->


                <div id="map"></div>
                <br>
                <!-- <button id="confirmPosition">Confirm Position</button> -->
                <br>
                <p>On idle position: <span id="onIdlePositionView"></span></p>
                <!-- <p>On click position: <span id="onClickPositionView"></span></p> -->
                <p>Chosen address: <textarea class="form-control" name=location cols='40' rows='10' required="" id="onClickAddressView" >{{form.location.value}}</textarea></p>
                <script>

                    // Get element references
                    // var confirmBtn = document.getElementById('confirmPosition');
                    var onClickPositionView = document.getElementById('onClickPositionView');
                    var onIdlePositionView = document.getElementById('onIdlePositionView');
                    var onClickAddressView = document.getElementById('onClickAddressView')

                    // Initialize locationPicker plugin
                    var lp = new locationPicker('map', {
                        setCurrentPosition: true, // You can omit this, defaults to true
                    }, {
                            zoom: 15 // You can set any google map options here, zoom defaults to 15
                        });

                    // Listen to button onclick event
                    // confirmBtn.onclick = function () {
                    //     // Get current location and show it in HTML
                    //     var location = lp.getMarkerPosition();
                    //     onClickPositionView.innerHTML = 'The chosen location is ' + location.lat + ',' + location.lng;
                        
                    // };

                    // Listen to map idle event, listening to idle event more accurate than listening to ondrag event
                    google.maps.event.addListener(lp.map, 'idle', function (event) {
                        // Get current location and show it in HTML
                        var location = lp.getMarkerPosition();
                        onIdlePositionView.innerHTML = 'The chosen location is ' + location.lat + ',' + location.lng;
                        const Http = new XMLHttpRequest();
                        const url = `http://api.geonames.org/findNearestAddressJSON?lat=${location.lat}&lng=${location.lng}&username=klevinw`
                        Http.open("GET", url);
                        Http.send();

                        Http.onreadystatechange = (e) => {
                            var parse = JSON.parse(Http.responseText)
                            onClickAddressView.innerHTML = `${parse.address.streetNumber} ${parse.address.street}, ${parse.address.placename}, ${parse.address.adminName1}, ${parse.address.postalcode}`
                            
                        }
                    });


                </script>
                <label for="date">Date of Event</label>
                <input type="date" name="date" value="{{form.date.value}}">
                <label for="time">Time of Event</label>
                <input type="time" name="time" value="{{form.time.value}}">

                <input type="submit" value="Create Event" class="form-control">
            </div>
        </form>
    </div>
</section>

{% endblock %}